{% block content %}
<li><a href="/">Home</a></li>
{% load crispy_forms_tags %}
<form method="post" action="/shop_list/">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Get Shops">
</form>
{% if shops %}
    <h1>Nearby Shops</h1>
    <ul>
    {% for shop in shops %}
        <div>
            <p>
                <a href="/detail/{{shop.pk}}">{{ shop.name }}</a>: {{shop.distance.km|floatformat:2}} km
            </p>
        </div>
    {% endfor %}
    </ul>
{% else %}
<h2>No Shops Found</h2>
{% endif %}
{% endblock content %}